.vscode
.ansible
scratchpads
# apparently share/fonts adds a .uuid file? (TODO remove?)
fonts/monofur/.uuid
# claude code
.claude

# another sub directory (TODO remove this?)
sub

# while copying stuff from the LoneWolf4713/new-wave repo will be here in a subdir
new-wave
# and anothe rone
smravec-nixos-config

# simpler to put all repos clonsed for inspiration in a combined sub-dir
third-party

# dont commit the git repos for yazi packages installed via `ya pkg`
configs/yazi/plugins
configs/yazi/bookmark
configs/yazi/flavors
