[submodule "plugins/dotbot-if"]
	path = plugins/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if
[submodule "configs/claude/skills/excalidraw-diagram"]
	path = configs/claude/skills/excalidraw-diagram
	url = https://github.com/coleam00/excalidraw-diagram-skill
