[Desktop Entry]
Version=1.0
Type=Application
Name=VNC: Streaming Server
Comment=Connect to the streaming server using Remmina
Icon=org.remmina.Remmina
Exec=remmina -c /home/joelyboy/.local/share/remmina/personal_vnc_streaming-server_streaming-server.remmina
Categories=Network;RemoteAccess;
Keywords=Remmina;VNC;Remote;Streaming Server;
Terminal=false
StartupNotify=true
